@import '../../partials/mixins';
@import '../../partials/constants';

.primaryBtn {
  height: 2.25rem;
  border-radius: 1.25rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  background-color: $instock-indigo;
  border: 1px solid $cloud;
  color: $white;
  @include tablet {
    display: inline-block;
    height: 2.4rem;
    margin-left: 1rem;
  }
}