@import '../../partials/constants';
@import '../../partials/mixins';

.textbox {
  @include flex($fw: wrap);
  width: 100%;

  &__label {
    @include font(0.8125rem, 1.25rem, 600, $instock-black);
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 0.25rem;

    @include tablet {
      @include font(0.875rem, 1.375rem, 600, $instock-black);
    }
  }

  &__field {
    @include font(0.8125rem, 1.25rem);
    width: 100%;
    height: 2.25rem;
    padding: 0 1rem;
    border: 1px solid $cloud;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0 0 1rem;

    @include tablet {
      @include font(0.875rem, 1.375rem, 600);
      height: 2.37rem;
      margin-bottom: 1.5rem;
    }

    &:focus {
      outline: none;
      border: 1px solid $instock-indigo;
    }

    &::placeholder {
      @include font(0.8125rem, 1.25rem);
    }

    &--number {
      @include desktop {
        width: 7.625rem;
      }
    }
  }

  &--large {
    @include flex($ai: center, $fw: wrap);
    @include font(0.8125rem, 1.25rem, 600);
    width: 100%;
    margin-bottom: 1rem;

    @include tablet {
      @include font(0.875rem, 1.375rem, 600);
      margin-bottom: 1.5rem;
    }
  }

  &__textarea {
    @include font(0.8125rem, 1.25rem);
    width: 100%;
    height: 7.5rem;
    border: 1px solid #BDC5D5;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    resize: none;

    &:focus {
      outline: none;
      border: 1px solid $instock-indigo;
    }

    &::placeholder {
      @include font(0.8125rem, 1.25rem, 400, $slate);
    }
  }

  &--error {
    outline: none;
    border: 1px solid $red;
  }
}
