@import '../../partials/constants';
@import '../../partials/mixins';

.WarehouseInventory-page {
  @include flex($jc: center, $fw: wrap, $bx: border-box);
  width: 100%;
  padding: 0 1rem;
  margin-top: 8.5rem;

  @include tablet {
    padding: 0 2rem;
    margin-top: 5.75rem;
  }

  @include desktop {
    padding: 0 8.125rem;
  }
}
