@import '../../partials/mixins';
@import '../../partials/constants';

.cancel {
  @include font(0.8125rem, 1.25rem, 600, $slate);
  text-decoration: none;
  width: 8.68rem;
  height: 2.25rem;
  border-radius: 1.25rem;
  background-color: $white;
  border: 1px solid $cloud;
  flex-grow: 1;

  @include tablet {
    @include font(0.875rem, 1.375rem, 600, $slate);
    width: 4.5rem;
    height: 2.375rem;
    flex-grow: 0;
  }

  &:hover {
    border: 1px solid $instock-indigo;
    color: $instock-indigo;
  }
}
