@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

$mobile-breakpoint: 375px;
$mobileL-breakpoint: 544px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$font: 'Titillium Web', sans-serif;
$instock-black: #13182c;
$instock-indigo: #2e66e6;
$white: #ffffff;
$slate: #5d667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-grey: #f7f8f9;
$green: #158463;
$red: #c94515;
